## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Comodoro Rivadavia,AR,-45.8667,-67.5000,73.26,35,0,12.66,clear sky
1,1,Butaritari,KI,3.0707,172.7902,81.61,78,100,15.64,light rain
2,2,Kantunilkin,MX,21.0917,-87.4500,78.64,99,6,3.42,clear sky
3,3,Humaita,BR,-7.5061,-63.0208,73.71,99,100,1.97,overcast clouds
4,4,Namatanai,PG,-3.6667,152.4333,79.27,83,100,8.86,light rain

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 70

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
new_city_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Cape Town,ZA,-33.9258,18.4232,66.11,88,0,9.08,clear sky
26,26,Venado Tuerto,AR,-33.7456,-61.9688,68.79,87,98,10.83,light rain
34,34,Hermanus,ZA,-34.4187,19.2345,65.89,84,0,13.35,clear sky
68,68,Hobart,AU,-42.8794,147.3294,66.02,58,40,3.00,scattered clouds
69,69,New Norfolk,AU,-42.7826,147.0587,65.66,57,90,5.01,overcast clouds
75,75,Kanye,BW,-24.9667,25.3327,66.63,74,6,5.55,light rain
84,84,Chabahar,IR,25.2919,60.6430,68.11,33,0,6.40,clear sky
107,107,Taltal,CL,-25.4000,-70.4833,68.22,72,0,4.14,clear sky
109,109,Ponta Do Sol,PT,32.6667,-17.1000,67.01,78,99,9.53,overcast clouds
127,127,Kruisfontein,ZA,-34.0033,24.7314,68.88,84,100,10.20,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
new_city_df.count()

Unnamed: 0             64
City                   64
Country                59
Lat                    64
Lng                    64
Max Temp               64
Humidity               64
Cloudiness             64
Wind Speed             64
Current Description    64
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_df = new_city_df.dropna()
clean_city_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Cape Town,ZA,-33.9258,18.4232,66.11,88,0,9.08,clear sky
26,26,Venado Tuerto,AR,-33.7456,-61.9688,68.79,87,98,10.83,light rain
34,34,Hermanus,ZA,-34.4187,19.2345,65.89,84,0,13.35,clear sky
68,68,Hobart,AU,-42.8794,147.3294,66.02,58,40,3.00,scattered clouds
69,69,New Norfolk,AU,-42.7826,147.0587,65.66,57,90,5.01,overcast clouds
75,75,Kanye,BW,-24.9667,25.3327,66.63,74,6,5.55,light rain
84,84,Chabahar,IR,25.2919,60.6430,68.11,33,0,6.40,clear sky
107,107,Taltal,CL,-25.4000,-70.4833,68.22,72,0,4.14,clear sky
109,109,Ponta Do Sol,PT,32.6667,-17.1000,67.01,78,99,9.53,overcast clouds
127,127,Kruisfontein,ZA,-34.0033,24.7314,68.88,84,100,10.20,overcast clouds

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_city_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Cape Town,ZA,66.11,clear sky,-33.9258,18.4232,
26,Venado Tuerto,AR,68.79,light rain,-33.7456,-61.9688,
34,Hermanus,ZA,65.89,clear sky,-34.4187,19.2345,
68,Hobart,AU,66.02,scattered clouds,-42.8794,147.3294,
69,New Norfolk,AU,65.66,overcast clouds,-42.7826,147.0587,
75,Kanye,BW,66.63,light rain,-24.9667,25.3327,
84,Chabahar,IR,68.11,clear sky,25.2919,60.6430,
107,Taltal,CL,68.22,clear sky,-25.4000,-70.4833,
109,Ponta Do Sol,PT,67.01,overcast clouds,32.6667,-17.1000,
127,Kruisfontein,ZA,68.88,overcast clouds,-34.0033,24.7314,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Cape Town,ZA,66.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
26,Venado Tuerto,AR,68.79,light rain,-33.7456,-61.9688,Hotel - Miro Park
34,Hermanus,ZA,65.89,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
68,Hobart,AU,66.02,scattered clouds,-42.8794,147.3294,Mantra on Collins Hobart
69,New Norfolk,AU,65.66,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
75,Kanye,BW,66.63,light rain,-24.9667,25.3327,The Savanna Lodge
84,Chabahar,IR,68.11,clear sky,25.2919,60.6430,هتل گدروشیا
107,Taltal,CL,68.22,clear sky,-25.4000,-70.4833,Residencial Karime
109,Ponta Do Sol,PT,67.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
127,Kruisfontein,ZA,68.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Cape Town,ZA,66.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
26,Venado Tuerto,AR,68.79,light rain,-33.7456,-61.9688,Hotel - Miro Park
34,Hermanus,ZA,65.89,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
68,Hobart,AU,66.02,scattered clouds,-42.8794,147.3294,Mantra on Collins Hobart
69,New Norfolk,AU,65.66,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
75,Kanye,BW,66.63,light rain,-24.9667,25.3327,The Savanna Lodge
84,Chabahar,IR,68.11,clear sky,25.2919,60.6430,هتل گدروشیا
107,Taltal,CL,68.22,clear sky,-25.4000,-70.4833,Residencial Karime
109,Ponta Do Sol,PT,67.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
127,Kruisfontein,ZA,68.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))